# Libraries installation

In [1]:
import pandas as pd

## Load data

In [2]:
pumpkins_df = pd.read_csv('csv/US-pumpkins.csv')

In [3]:
pumpkins_df.isna()

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,False,True,False,True,True,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
1,False,True,False,True,True,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
2,False,True,False,False,True,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
3,False,True,False,False,True,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
4,False,True,False,False,True,True,False,False,False,False,...,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,False,True,False,False,False,True,False,False,False,True,...,True,True,True,True,True,True,False,True,True,False
1753,False,True,False,False,False,True,False,False,False,True,...,True,True,True,True,True,True,False,True,True,False
1754,False,True,False,False,False,True,False,False,False,True,...,True,True,True,True,True,True,False,True,True,False
1755,False,True,False,False,False,True,False,False,False,True,...,True,True,True,True,True,True,False,True,True,False
1756,False,True,False,False,False,True,False,False,False,True,...,True,True,True,True,True,True,False,True,True,False

In [4]:
pumpkins_df.describe()

,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode,Unnamed: 24
count,0.0,1757.000000,1757.000000,1654.000000,1654.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,124.571338,132.970939,128.170550,132.491802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,83.876591,89.524958,86.512161,88.442967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.240000,0.240000,0.240000,0.240000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,24.000000,24.500000,24.625000,26.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,140.000000,150.000000,147.000000,150.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,180.000000,200.000000,185.000000,200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,480.000000,480.000000,480.000000,480.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pumpkins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City Name        1757 non-null   object
 1   Type             45 non-null     object
 2   Package          1757 non-null   object
 3   Variety          1752 non-null   object
 4   Sub Variety      296 non-null    object
 5   Grade            0 non-null      float64
 6   Date             1757 non-null   object
 7   Low Price        1757 non-null   float64
 8   High Price       1757 non-null   float64
 9   Mostly Low       1654 non-null   float64
 10  Mostly High      1654 non-null   float64
 11  Origin           1754 non-null   object
 12  Origin District  131 non-null    object
 13  Item Size        1478 non-null   object
 14  Color            1141 non-null   object
 15  Environment      0 non-null      float64
 16  Unit of Sale     162 non-null    object
 17  Quality          0 non-null      float64
 18  Condition        0 non-null      float64
 19  Appearance       0 non-null      float64
 20  Storage          0 non-null      float64
 21  Crop             0 non-null      float64
 22  Repack           1757 non-null   object
 23  Trans Mode       0 non-null      float64
 24  Unnamed: 24      0 non-null      float64
 25  Unnamed: 25      103 non-null    object
dtypes: float64(13), object(13)
memory usage: 357.0+ KB